<div class="container ">
  <div class="d-flex justify-content-center">
    <div class="card">
      <div class="card-header">
        <h3 class="text-black-50">Sign In</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Username" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"  required>

          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="Password"  formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  required>
          </div>
          <div class="row align-items-center remember">
            &nbsp;
          </div>
          <div class="form-group">
            <button mat-raised-button color="info" outline="true" rounded="true" block="true"  class="btn float-right login_btn" type="submit"  color="primary">Login</button>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Don't have an account?<button color="info" outline="true" rounded="true" block="true"  class="btn float-right login_btn" (click)="router.navigate(['/register']);">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
